body {
    font-family: "Arial", "Helvetica", sans-serif;
    background-color: #0c0c0c;
    margin: 0;
    padding: 0;
    h1 {
        background-color: #910def;
    }
  }

  h1 {
    color: #19f746;
  }

  p {
      font: size 18px;
      
    }
    
    .h4StartPage {
        color: olive;
        font: size 18px;
  }
  
  #TextParagrafSmall{
    background-color: yellow;
  }

  .My link{
color: #19f746;
text-decoration: #f7092d;
font-weight: bold;
}

.MY link:hover {
    color: rgb(240, 17, 17);
    text-decoration: underline;

  }

  .My image{
    width: 250;
    border: 4px solid #fafa;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  